.card {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 8px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: box-shadow 0.2s;
}
.card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card__content {
  cursor: move;
  flex: 1;
}
.card__content h3 {
  margin-bottom: 10px;
}
.card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card__actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
mat-icon {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__delete {
  color: var(--mat-sys-error);
}
.button__edit {
  color: var(--mat-sys-primary);
}
