<div class="kanban-board">
  <!-- Drag and drop das COLUNAS -->
  <div
    cdkDropList
    [cdkDropListData]="columns()"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
    class="columns-wrapper"
  >
    @for (column of columns(); track column.id) {
    <div class="example-container" cdkDrag [cdkDragLockAxis]="'x'">
      <!-- Handle para arrastar a coluna -->
      <div class="column-header" cdkDragHandle>
        <h2>{{ column.name }}</h2>
      </div>

      <!-- Drag and drop dos CARDS - grupo separado -->
      <div
        cdkDropList
        [cdkDropListData]="column.cards"
        [id]="'column-' + column.id"
        [cdkDropListConnectedTo]="getConnectedLists()"
        class="example-list"
        (cdkDropListDropped)="dropCard($event, column.id)"
      >
        @for (card of column.cards; track card.id) {
        <div class="example-box" cdkDrag>{{ card.name }}</div>
        }
      </div>
    </div>
    }
  </div>
</div>
