<div cdkDropListGroup>
  <div
    cdkDropList
    [cdkDropListData]="columns()"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
    class="columns-container"
  >
    @for (column of columns(); track column.id) {
    <div class="example-container" cdkDrag>
      <h2>{{ column.name }}</h2>
      <div
        cdkDropList
        [cdkDropListData]="column.cards"
        class="example-list"
        (cdkDropListDropped)="dropCard($event)"
      >
        @for (card of column.cards; track card.id) {
        <div class="example-box" cdkDrag>{{ card.name }}</div>
        }
      </div>
    </div>
    }
  </div>
</div>
