.header {
  padding: 20px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}
.header__description {
  font-size: 1rem;
  max-width: 450px;
  color: #666;
}
